{% set CodiceModulo = "REND-ECO-INDE" %}
{% set Urn = "document:c_a794:trasmissione.rendiconto.rinascimento;documentazione" %}
{% extends "base.html" %}

{% block meta %}

<meta campi_firma=""
campi_firma_label=""
classi_modulo="Generale"
codice_modulo="{{ CodiceModulo }}"
urn="{% block urn %}{{ Urn }}{% endblock urn %}"
sub_urn_list=""
uo_globo_list=""
descrizione="Trasmissione del rendiconto economico delle spese sostenute con il contributo Spese inderogabili"
destinatario_amministrazione=""
destinatario_ufficio="UOCESVI"
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="NO"
in_bollo="NO"
istruzioni_compilazione=""
istruzioni_invio="mail_pec"
metodo_invio="mail"
name="GLOBO_modulo"
procura="NO,,"
tipo_modulo="principale"
ufficio=""
urlhelp="/modulistica/moduli/{{ CodiceModulo }}"
verifica_pagamento="NO"
versione="1.1|03/07/2020"/>

<meta codice_modulo_figlio="INCARICO_PROCURA"
urn_modulo_figlio="document:s_italia:generale;incarico.procura"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<meta codice_allegato="DAE-CDI"
urn_allegato="document:s_italia:generale;documento.identita;documentazione"
descrizione_estesa="Documento di identità"
filename="Documento identita.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/DAE-CDI"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="DOC-ATT-RINAS"
urn_allegato="document:c_a794:rendiconto.economico.rinascimento;documentazione"
descrizione_estesa="Documentazione attestante le spese sostenute"
filename="Documentazione attestante spese sostenute.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/DOC-ATT-RINAS"
name="GLOBO_allegato"
numero="0"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="ALTRI-ALLEGATI"
urn_allegato="document:s_italia:altri.allegati"
descrizione_estesa="Altri allegati"
filename="Altri allegati.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/ALTRI-ALLEGATI"
name="GLOBO_allegato"
numero="0"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

{% endblock meta %}

{% block title %} Trasmissione del rendiconto economico delle spese sostenute con il contributo Spese inderogabili {% endblock title %}

{% block content %}
 <globo_fondo_pagina areaheight="150" scope="2">
 {{ utils.firma() }}
</globo_fondo_pagina>

{{intestazioni.intestazione_moduloprincipale_senzabollo()}}

<input dynamic_value="#Titolare_Cognome.value().toUpperCase() + ' ' + #Titolare_Nome.value().toUpperCase()  + ' - rendiconto economico spese sostenute con contributo spese inderogabili'" id="Oggetto" name="Oggetto" type="hidden"/>

<h1 class="Modulo">
 Trasmissione del rendiconto economico delle spese sostenute con il contributo Spese inderogabili
</h1>

<div type="Anagrafica_Cognome_Nome">
  {% if definizioneSolo1 == 'true' %}
    <input id="Titolare_Titolo" name="Titolare_Titolo" type="hidden" value="Commercialista"/>
    <input id="Titolare_Ruolo"  name="Titolare_Ruolo"  type="hidden" value="Commercialista"/>
  {% endif %}
  <table class="Modulo" style="border:1px solid grey; visibility:visibility">
    <tbody>
      <tr class="Rigaintestazione">
        <td style="border-right: 0px;">
          <p class="Labeltabella"> 
            <input id="Tassonomia_AltroSoggetto" name="Tassonomia_AltroSoggetto" type="checkbox" value="SI" style="margin-right: 4px;"/>
            L'istanza è trasmessa da un soggetto diverso dal quello che richiede il finanziamento 
          </p>
        </td>
        <td style="width:3%; border-left:0px; cursor:pointer">
          <span style="pd4ml-visibility: hidden; pd4ml-display: none;">
            {{ utils.recupero_dati( "Presentatore", "visibility:visibility" ) }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="Modulo" style="border:1px solid grey; margin-top:-1px;" mandatory_enabled="#Tassonomia_AltroSoggetto.checked()">
    <tbody>
      <tr class="Rigaintestazioneridotta">
        <td>
          <p class="Labelcella">Cognome</p>
        </td>
        <td style="width: 30%;">
          <p class="Labelcella">Nome</p>
        </td>
        <td style="width: 34%;">
          <p class="Labelcella">Codice Fiscale</p>
        </td>
      </tr>
      <tr>
        <td>
          <input id="Presentatore_Cognome" name="Presentatore_Cognome" style="width:100%" label="Cognome del Richiedente sostituto"/>
        </td>
        <td>
          <input id="Presentatore_Nome" name="Presentatore_Nome" style="width:100%" label="Nome del Richiedente sostituto"/>
        </td>
        <td>
          <input format="cf" id="Presentatore_CodiceFiscale" name="Presentatore_CodiceFiscale" style="width:100%; " onkeyup="this.value = this.value.toUpperCase();" label="Il codice fiscale del Richiedente sostituto"/>
        </td>
      </tr>
      <tr class="Rigaintestazioneridotta">
        <td colspan="3">
          <p class="Labelcella"> In qualità di </p>
        </td>
      </tr>
      <tr>
        <td colspan="3" mandatory_enabled="#Tassonomia_AltroSoggetto.checked()">
          <input class="inputNormal" id="Presentatore_Ruolo" name="Presentatore_Ruolo" style="width: 100%;" label="Ruolo del richiedente" />
        </td>
      </tr>
    </tbody>
  </table>
</div>

<input type="hidden" id="Firmatario_CodiceFiscale" name="Firmatario_CodiceFiscale" dynamic_value="#Tassonomia_AltroSoggetto.checked() ? #Presentatore_CodiceFiscale.value() : #Titolare_CodiceFiscale.value()"/>

{{ anagrafica.societa("Titolare", "Il sottoscritto", ["Persona fisica", "Titolare", "Legale rappresentante"], "Richiedente", "visibility:visibility", "cursor:pointer", "mail_ordinaria", "false", "false") }}

<table class="Modulo" style="border: 1px solid grey;">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="3">
        <p class="Labeltabella">
         in relazione al bando
        </p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td>
        <p class="Labelcella">
          Denominazione bando
        </p>
      </td>
      <td>
        <p class="Labelcella">
          Numero domanda <i>(fornito dal portale al momento dell'invio)</i>
        </p>
      </td>
      <td>
        <p class="Labelcella">
          Data invio
        </p>
      </td>
    </tr>
    <tr mandatory="true">
      <td>
          <input class="inputNormal" id="Parametri_DenominazioneBando" name="Parametri_DenominazioneBando" style="width: 100%;" label="Denominazione bando" />
      </td>
      <td>
        <input class="inputNormal" id="Parametri_NumeroDomanda" name="Parametri_NumeroDomanda" style="width: 100%;" label="Numero domanda" />
      </td>
      <td>
        <input class="inputNormal" id="Parametri_DataInvio" name="Parametri_DataInvio" style="width: 100%;" label="Data invio" format="date"/>
      </td>
    </tr>
  </tbody>
</table>
<globo_salto_pagina></globo_salto_pagina>
<table class="Modulo" style="border: 1px solid grey;">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="3">
        <p class="Labeltabella">
          spese sostenute
        </p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td>
        <p class="Labelcella">
          Descrizione
        </p>
      </td>
      <td>
        <p class="Labelcella">
          Importo
        </p>
      </td>
      <td>
        <p class="Labelcella">
          Allegato
        </p>
      </td>
    </tr>
       {% for i in range(1, 19) %}
    <tr {% if i==1 %}  mandatory="true" {% endif %}>
      <td><input class="inputNormal" id="Parametri_Descrizione{{ loop.index }}" name="Parametri_Descrizione{{ loop.index }}" style="width: 100%;" label="Descrizione" {% if not loop.first %} enabled="#Parametri_Descrizione{{ i-1 }}.value()!=''"{% endif %} /></td>
        <td>
          <p>
          <input class="inputNormal" id="Parametri_Importo{{ loop.index }}" {% if not loop.first %} mandatory_enabled="#Parametri_Descrizione{{ i }}.value()!=''" {% endif %} format="valuta_positiva" name="Parametri_Importo{{ loop.index }}" style="width: 85%;"   label="Importo"/> €</p>
          </td>                     
      <td><input class="inputNormal" id="Parametri_Allegato{{ loop.index }}" {% if not loop.first %} mandatory_enabled="#Parametri_Descrizione{{ i }}.value()!=''" {% endif %} name="Parametri_Allegato{{ loop.index }}" style="width: 100%;"  label="Allegato"/></td>          
    </tr>
  <input class="inputNormal" id="Parametri_NumA{{ loop.index }}" type="hidden" name="Parametri_NumA{{ loop.index }}" dynamic_value="#Parametri_Allegato{{ loop.index }}.value() != '' ? 1 : 0" style="width: 100%;"  label="" />
    {% endfor %}    
  </tbody>
</table>
<input class="inputNormal" id="Parametri_NumTotAllegati" name="Parametri_NumTotAllegati" type="hidden" style="width: 100%;" label=""
         dynamic_value="((parseFloat(#Parametri_NumA1.value()))+ 
         (parseFloat(#Parametri_NumA2.value()))
         +(parseFloat(#Parametri_NumA3.value()))
         +(parseFloat(#Parametri_NumA4.value()))
         +(parseFloat(#Parametri_NumA5.value()))
         +(parseFloat(#Parametri_NumA6.value()))
         +(parseFloat(#Parametri_NumA7.value()))
         +(parseFloat(#Parametri_NumA8.value()))
         +(parseFloat(#Parametri_NumA9.value()))
         +(parseFloat(#Parametri_NumA10.value()))
         +(parseFloat(#Parametri_NumA11.value()))
         +(parseFloat(#Parametri_NumA12.value()))
         +(parseFloat(#Parametri_NumA13.value()))
         +(parseFloat(#Parametri_NumA14.value()))
         +(parseFloat(#Parametri_NumA15.value()))
         +(parseFloat(#Parametri_NumA16.value()))
         +(parseFloat(#Parametri_NumA17.value()))
         +(parseFloat(#Parametri_NumA18.value()))
         )" />
<br/>

<table class="Modulo" style="border:1px solid grey">
 <tbody>
  <tr class="Rigaintestazioneridotta">
   <td>
    <p class="Labelcella">
     Eventuali annotazioni
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <textarea class="inputNormal" id="Parametri_Annotazioni" name="Parametri_Annotazioni" style="width:100%;height:5cm;"></textarea>
   </td>
  </tr>
 </tbody>
</table>

<br/>


<table class="Modulo" style="border:1px solid grey">
 <tbody>
  <tr class="Rigaintestazione">
   <td colspan="2">
    <p style="text-align: center;">
     <b>
      Elenco degli allegati
     </b>
     <br/>
     <span style="font-size:70%">
      <i>
       (barrare tutti gli allegati richiesti in fase di presentazione della pratica ed elencati sul portale)
      </i>
     </span>
    </p>
   </td>
  </tr>
    <tr>
   <td style="vertical-align: top; width:3%">
    <input id="DOC-ATT-RINAS" name="DOC-ATT-RINAS" type="checkbox" dynamic_check="#Parametri_NumTotAllegati.value() >0" value="OBBLIGATORIO"/>
   </td>
   <td style="background-color: #eeeeee;">
    <p>
      documentazione attestante le spese sostenute
    </p>
   </td>
  </tr>
  <tr>
   <td style="vertical-align: top; width:3%">
    <input id="DAE-CDI" name="DAE-CDI" type="checkbox" value="OBBLIGATORIO"/>
   </td>
   <td style="background-color: #eeeeee;">
    <p>
     copia del documento d'identità
     <br/>
     <span style="font-size:70%">
      <i>
       (da allegare se il modulo è sottoscritto con firma autografa)
      </i>
     </span>
    </p>
   </td>
  </tr>
  <tr>
   <td>
    <input id="ALTRI-ALLEGATI" name="ALTRI-ALLEGATI" type="checkbox" value="OBBLIGATORIO"/>
   </td>
   <td style="background-color: #eeeeee;">
    <p>
     altri allegati
     <span style="font-size:70%">
      (specificare)
     </span>
     <input class="inputNormal" id="AltriAllegati" label="Altri allegati" mandatory_enabled="#ALTRI_ALLEGATI.checked()" name="AltriAllegati" style="width:79%;"/>
    </p>
   </td>
  </tr>
 </tbody>
</table>


<br/>

{{ utils.trattamento_dati_personali() }}

<br/>

  {{ utils.firma_hidden() }}
  <br/>

<p class="Modulo">
 <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo"/>
</p>

<input destinatario_amministrazione="getParameter('Ente')" id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value=""/>

<input id="GLOBO_allegato_cDAE-CDI" name="GLOBO_allegato_cDAE-CDI" obbligatorio="#DAE_CDI.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<input id="GLOBO_allegato_cDOC-ATT-RINAS" name="GLOBO_allegato_cDOC-ATT-RINAS" obbligatorio="#DOC_ATT_RINAS.checked() ? 'OBBLIGATORIO' : ''" type="hidden" numero="#Parametri_NumTotAllegati.value()" value=""/>

<input id="GLOBO_allegato_cALTRI-ALLEGATI" name="GLOBO_allegato_cALTRI-ALLEGATI" obbligatorio="#ALTRI_ALLEGATI.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<input firmare="'P7M_ELETTRONICA'" id="GLOBO_modulofiglio_cINCARICO_PROCURA" name="GLOBO_modulofiglio_cINCARICO_PROCURA" type="hidden" value=""/>

<input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden"/>

<input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden"/>

<input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}"/>

{% endblock content %}
