{% set CodiceModulo = "COM_DIM_VOLO" %}
{% set Urn = "document:c_a794:dimissioni.volontarie;comunicazione" %}
{% extends "base.html" %}

{% block meta %}

<meta campi_firma="Titolare_CodiceFiscale"
campi_firma_label="il dichiarante"
classi_modulo="Lavoro"
codice_modulo="{{ CodiceModulo }}"
urn="{% block urn %}{{ Urn }}{% endblock urn %}"
sub_urn_list=""
uo_globo_list=""
descrizione="Comunicazione delle dimissioni volontarie"
destinatario_amministrazione=""
destinatario_ufficio="UOLAVORO"
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="P7M_ELETTRONICA"
istruzioni_compilazione=""
istruzioni_invio="mail_pec"
metodo_invio="mail"
name="GLOBO_modulo"
procura="NO,,"
tipo_modulo="principale"
urlhelp="/modulistica/moduli/{{ CodiceModulo }}"
verifica_pagamento="NO"
versione="1.0|14/01/2019"/>

<meta codice_modulo_figlio="INCARICO_PROCURA"
urn_modulo_figlio="document:s_italia:generale;incarico.procura"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<meta codice_allegato="DAE-CDI"
urn_allegato="document:s_italia:generale;documento.identita;documentazione"
descrizione_estesa="Documento di identità"
filename="Documento identita.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/DAE-CDI"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="ALTRI-ALLEGATI"
urn_allegato="document:s_italia:altri.allegati"
descrizione_estesa="Altri allegati"
filename="Altri allegati.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/ALTRI-ALLEGATI"
name="GLOBO_allegato"
numero="0"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

{% endblock meta %}

{% block title %}
  Comunicazione delle dimissioni volontarie
{% endblock title %}

{% block content %}

<globo_fondo_pagina areaheight="150" scope="2">
  {{ utils.firma() }}
</globo_fondo_pagina>

<input id="Parametri_Comune" name="Parametri_Comune" type="hidden" dynamic_value="#Ente.value()"/>
<input id="Oggetto" name="Oggetto" type="hidden" dynamic_value="#Titolare_Cognome.value().toUpperCase() + ' ' + #Titolare_Nome.value().toUpperCase() + ' - Comunicazione delle dimissioni volontarie'"/>

{{ intestazioni.intestazione_moduloprincipale_senzabollo() }}

<h1 class="Modulo">
  Comunicazione delle dimissioni volontarie
</h1>
<h2 class="Modulo">
  Ai sensi del Ccontratto Collettivo Nazionale vigente
</h2>

<input id="Titolare_DatiPersonaObbligatori" name="Titolare_DatiPersonaObbligatori" type="hidden" dynamic_check="true"/>
<input id="Titolare_Titolo" name="Titolare_Titolo" type="hidden" value="Richiedente"/>
<input id="Titolare_Ruolo" name="Titolare_Ruolo" type="hidden" value="Richiedente"/>
{{ anagrafica.persona_fisica("Titolare", "Il sottoscritto", "visibility:visibility", "cursor:pointer", "visibility:visibility", "visibility:visibility", "mail_ordinaria") }}

<br>
{{ utils.Dichiara_445() }}
<p class="Modulo"> di essere dipendente del Comune di Bergamo </p>

<div id="Tassonomia_Contratto" name="Tassonomia_Contratto" label="Termine del contratto" mandatory="true"></div>
<div id="Tassonomia_Orari" name="Tassonomia_Orari" label="Distribuzione oraria" mandatory="true"></div>
<table class="Modulo" style="border: 1px solid grey;" mandatory="true">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="6">
        <p class="Labeltabella"> tipologia contratto </p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td colspan="6">
        <p class="Labelcella"> Termine del contratto </p>
      </td>
    </tr>
    <tr>
      {% set conts = [("tempo determinato",2), ("tempo indeterminato",2)] %}
      {% for c1, c2 in conts %}
        <td colspan="1" style="vertical-align: top; width: 4%;">
          <input id="Tassonomia_Contratto{{loop.index}}" name="Tassonomia_Contratto" type="radio" value="{{loop.index}}" />
        </td>
        <td colspan="{{c2}}" style="width: 46%">
          <p> {{ c1|safe }} </p>
        </td>        
      {% endfor %}
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td colspan="6">
        <p class="Labelcella"> Distribuzione oraria </p>
      </td>
    </tr>
    <tr>
      {% set ors = [("full time",2), ("part time nella misura del <input class='inputNormal' id='Parametri_mis_partime' name='Parametri_mis_partime' style='width: 10%;' label='Misura part time' mandatory_enabled='#Tassonomia_Orari2.checked()' /> %",2)] %}
      {% for o1, o2 in ors %}
        <td style="vertical-align: top; width: 4%;">
          <input id="Tassonomia_Orari{{loop.index}}" name="Tassonomia_Orari" type="radio" value="{{loop.index}}" />
        </td>
        <td colspan="{{o2}}" style="width: 46%">
          <p> {{ o1|safe }} </p>
        </td>        
      {% endfor %}
    </tr>
    {% set inps = [("Qualifica","contr_qual",2),("Categoria","contr_categ",3),("Posizione economica","contr_poseco",1)] %}
    <tr class="Rigaintestazioneridotta">
      {% for i1, i2, i3 in inps %}
        <td colspan="{{i3}}" style="width: 33.3%;">
          <p class="Labelcella"> {{ i1 }} </p>
        </td>
      {% endfor %}      
    </tr>
    <tr>
      {% for i1, i2, i3 in inps %}
        <td colspan="{{i3}}">
          <input class="inputNormal" id="Parametri_{{i2}}" name="Parametri_{{i2}}" style="width: 100%;" label="{{i1}}" />
        </td>
      {% endfor %}
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td colspan="6">
        <p class="Labelcella"> In servizio presso </p>
      </td>
    </tr>
    <tr>
      <td colspan="6">
        <input class="inputNormal" id="Parametri_serv_press" name="Parametri_serv_press" style="width: 100%;" label="In servizio presso" />
      </td>
    </tr>
  </tbody>
</table>




<br>
<h3 class="Modulo"> COMUNICA </h3>
<p class="Modulo"> di voler rassegnare le proprie dimissioni, consapevole che, a seguire dalla data di decorrenza, il proprio rapporto di lavoro con il Comune di Bergamo sarà concluso. </p>
<table class="Modulo" style="border: 1px solid grey;">
  <tbody>
    <tr class="Rigaintestazione">
      <td>
        <p class="Labeltabella"> a decorrere dal </p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td>
        <p class="Labelcella"> Data ultimo giorno di servizio </p>
      </td>
    </tr>
    <tr>
      <td>
        <input class="inputNormal" id="Parametri_decorrenza" name="Parametri_decorrenza" style="width: 100%;" label="Data ultimo giorno di servizio" format="date" mandatory="true" />
      </td>
    </tr>
  </tbody>
</table>

<br>
<globo_salto_pagina></globo_salto_pagina>
<h3 class="Modulo"> DICHIARA INOLTRE </h3>

<div id="Tassonomia_DichiaraInoltre" name="Tassonomia_DichiaraInoltre" label="Dichiara inoltre" mandatory="true"></div>
<table class="Modulo" style="border: 1px solid grey;">
  <tbody>
    {% set dics = [("di rispettare il periodo di preavviso previsto dal suo contratto di lavoro, che verrà conteggiato dal giorno 1 o 16 del mese della comunicazione",1,3),
                   ("di voler rinunciare al periodo di preavviso e/o all’indennità di preavviso spettante, consapevole che è facolta dell’Ammnistrazione stessa accettare o meno la richiesta",1,3),
                   ("di volersi avvalere della “conservazione del posto”, senza retribuzione, per tutta la durata del “periodo di prova” a cui sarà sottoposto",3,3)] %}
    {% for text, rpan, cpan in dics %}
      <tr>
        <td rowspan="{{rpan}}" style="vertical-align: top; width: 4%;background-color: white;">
          <input id="Tassonomia_DichiaraInoltre{{loop.index}}" name="Tassonomia_DichiaraInoltre" type="radio" value="{{loop.index}}" />
        </td>
        <td colspan="{{cpan}}">
          <p> {{text}} </p>
        </td>
      </tr> 
    {% endfor %}
    {% set stmts = [("Data inizio prova","data_inizio","date"),("Data dine prova","data_fine","date"),("Amministrazione","amministr","")] %}
    <tr class="Rigaintestazioneridotta">
      {% for d1,d2,form in stmts %}
        <td style="width: 33.3%">
          <p class="Labelcella"> {{ d1 }} </p>
        </td>        
      {% endfor %}
    </tr>
    <tr mandatory_enabled="#Tassonomia_DichiaraInoltre3.checked()">      
      {% for d1,d2,form in stmts %}
        <td>
          <input class="inputNormal" id="Parametri_{{d2}}" name="Parametri_{{d2}}" style="width: 100%;" label="{{d1}}" format="{{form}}"/>
        </td>        
      {% endfor %}
    </tr>
    
  </tbody>
</table>

<br>
<table class="Modulo" name="Allegati" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p style="text-align: center;">
          <b>
            Elenco degli allegati
          </b>
          <br/>
          <span style="font-size:70%">
            <i>(barrare tutti gli allegati richiesti in fase di presentazione della pratica ed elencati sul portale)</i>
          </span>
        </p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="DAE-CDI" name="DAE-CDI" type="checkbox" value="OBBLIGATORIO" />
      </td>
      <td style="background-color: #eeeeee;">
        <p>
          copia del documento d'identità
          <br/>
          <span style="font-size:70%">
            <i>(da allegare se il modulo è sottoscritto con firma autografa)</i>
          </span>
        </p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="ALTRI-ALLEGATI" name="ALTRI-ALLEGATI" type="checkbox" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;">
        <p>
          altri allegati
          <span style="font-size:70%">(specificare)</span>
          <input class="" label="Altri allegati" id="AltriAllegati" mandatory_enabled="#ALTRI_ALLEGATI.checked()" name="AltriAllegati" style="width:79%;"/>
        </p>
      </td>
    </tr>
  </tbody>
</table>
<br>
{{ utils.trattamento_dati_personali() }}
<br/>
  {{ utils.firma_hidden() }}
<br/>

<p class="Modulo">
  <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo"/>
</p>

<input destinatario_amministrazione="getParameter('Ente')" id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value=""/>
<input firmare="'P7M_ELETTRONICA'" id="GLOBO_modulofiglio_cINCARICO_PROCURA" name="GLOBO_modulofiglio_cINCARICO_PROCURA" type="hidden" value=""/>

<input id="GLOBO_allegato_cDAE-CDI" name="GLOBO_allegato_cDAE-CDI" obbligatorio="#DAE_CDI.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_allegato_cALTRI-ALLEGATI" name="GLOBO_allegato_cALTRI-ALLEGATI" obbligatorio="#ALTRI_ALLEGATI.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden"/>
<input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden"/>
<input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}"/>

{% endblock content %}