{% set CodiceModulo =  "ult_occupazione_meno12" %}
{% set Urn = "document:c_a794:occupare.suolo.pubblico;ulteriori.occupazioni.oggetto.procedimento" %}{% extends "base.html" %}
{% block meta %}<meta campi_firma="TitolareNonImportare_CodiceFiscale"
classi_modulo="Generale"
codice_modulo="{{ CodiceModulo }}"
urn="{% block urn %}{{ Urn }}{% endblock urn %}"
sub_urn_list=""
uo_globo_list=""
descrizione="Ulteriori occupazioni oggetto del procedimento"
destinatario_amministrazione=""
destinatario_ufficio=""
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="P7M_ELETTRONICA"
istruzioni_compilazione=""
istruzioni_invio=""
metodo_invio=""
name="GLOBO_modulo"
procura="NO,,"
tipo_modulo="secondario"
ufficio=""
urlhelp="DomandeRisposte/FAQ"
verifica_pagamento="NO"
versione="1.0|01/01/2015"/>
{% endblock meta %}
{% block title %}
   Ulteriori occupazioni oggetto del procedimento
  {% endblock title %}
{% block content %}
 <globo_fondo_pagina areaheight="150" scope="1">
  {{ utils.firma() }}
 </globo_fondo_pagina>
{{intestazioni.intestazione_modulosecondario_senzabollo()}}
 <input id="Oggetto" name="Oggetto" type="hidden" value="" dynamic_value="#TitolareNonImportare_Cognome.value().toUpperCase() + ' - ulteriori occupazioni'"/>
 <h1 class="Modulo">
  Ulteriori occupazioni oggetto del procedimento
 </h1>
 {{anagrafica.cognome_nome("TitolareNonImportare","Il sottoscritto", "Richiedente", "visibility:hidden", "cursor:default")}} 
{{ utils.Dichiara_445() }}
 <p class="Modulo">
  che l'occupazione di suolo pubblico riguarda anche le ulteriori aree di seguito indicate.
 </p>
<br/>
 

<table class="Modulo" style="border:1px solid grey; margin-top:-1px">
 <tbody>
   <tr class="Rigaintestazione">
    <td colspan="4">
    <p class="">
      <b>
     per l'esecuzione di:
      </b>
    </p>
   </td>
  </tr> 
  <tr class="Rigaintestazioneridotta">
   <td style="width:40%;">
    <p class="Labelcella">
     Finalità
    </p>
   </td>
   <td>
    <p class="Labelcella">
     Giorno
    </p>
   </td>
   <td>
    <p class="Labelcella">
     dalle ore
    </p>
   </td>
   <td>
    <p class="Labelcella">
     alle ore
    </p>
   </td>
  </tr>
  <tr>
   <td>
   <p>
     <select class="" id="Parametri_TipoOccupazione2" label="Carattere occupazione" mandatory="true" name="Parametri_TipoOccupazione2" style="width:100%;">
      <option value="">
      </option>
      <option value="traslocco">
       traslocco
      </option>
      <option value="opere edili">
       opere edili
     </option>
    <option value="potatura">
       potatura alberi
      </option>
    <option value="carico/scarico">
       carico/scarico
      </option>
    <option value="altro">
       Altro
      </option>
     </select>
    </p>
   </td>
   <td>
    <input class="" id="Parametri_TempoOccupazione_dal" label="Periodo" mandatory_enabled="true" name="Parametri_TempoOccupazione_dal" format="date" style="width:100%;" />
   </td>
    <td>
    <input class="" id="Parametri_TempoOccupazione_dalleore" label="dalle ore" mandatory_enabled="true" name="Parametri_TempoOccupazione_dalleore" style="width:100%;" />
   </td>
    <td>
    <input class="" id="Parametri_TempoOccupazione_alleore" label="alle ore" mandatory_enabled="true" name="Parametri_TempoOccupazione_alleore"  style="width:100%;"/>
   </td>
  </tr>
 </tbody>
</table>

<table class="Modulo" style="border:1px solid grey">
 <tbody>
  <tr class="Rigaintestazione">
    <td colspan="5">
    <p class="">
      <b>
     superficie totale 
      </b>
    </p>
   </td>
  </tr>
  <tr mandatory_enabled="true">
   <td colspan="5">
    <input class="" id="Parametri_Superficie_cosap" label="Superficie totale ai fini COSAP" name="Parametri_Superficie_cosap"/>  m²
   </td>
   </tr>
 </tbody>
</table>


<input checked="checked" dynamic_check="true" style="display:none" id="Immobile_DatiCatastaliObbligatori" name="Immobile_DatiCatastaliObbligatori" type="checkbox" value="si"/>
{{ immobili.immobile_toponomastica( "Immobile", "collocata in", "Collocazione occupazione", "display:visibility", "visibility:hidden", "cursor:default", "true" ) }}

 
  <br/>
  
 {{ utils.firma_hidden() }}
 <br/>
 <p class="Modulo">
  <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo"/>
 </p>
 <input id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value=""/>
 <input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden"/>
 <input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden"/>
 <input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}"/>
{% endblock content %}
