{% set CodiceModulo = "ILL_SAN_GIACOMO" %}
{% set Urn = "document:c_A794:illuminazione.porta.sangiacomo;domanda" %}
{% extends "base.html" %}

{% block meta %}

<meta campi_firma="Titolare_CodiceFiscale"
campi_firma_label="il dichiarante"
classi_modulo=""
codice_modulo="{{ CodiceModulo }}"
urn="{% block urn %}{{ Urn }}{% endblock urn %}"
sub_urn_list=""
uo_globo_list=""
descrizione="Domanda per illuminazione porta san Giacomo"
destinatario_amministrazione=""
destinatario_ufficio="UOCULTURA"
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="SI"
firmare="NO"
istruzioni_compilazione=""
istruzioni_invio="mail_pec"
metodo_invio="mail"
name="GLOBO_modulo"
procura="NO,,"
tipo_modulo="principale"
urlhelp="/modulistica/moduli/{{ CodiceModulo }}"
verifica_pagamento="NO"
versione="1.0|20/12/2019"/>

<meta codice_modulo_figlio="INCARICO_PROCURA"
urn_modulo_figlio="document:s_italia:generale;incarico.procura"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<meta codice_allegato="ALTRI-ALLEGATI"
urn_allegato="document:s_italia:altri.allegati"
descrizione_estesa="Altri allegati"
filename="Altri allegati.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/ALTRI-ALLEGATI"
name="GLOBO_allegato"
numero="0"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="PAT-REL-ILL"
urn_allegato="document:s_italia:patrocinio;relazione.illustrativa.iniziativa;relazione"
descrizione_estesa="Relazione illustrativa della manifestazione, evento o iniziativa"
filename="Relazione illustrativa.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/PAT-REL-ILL"
name="GLOBO_allegato"
numero="0"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="DAE-CDI"
urn_allegato="document:s_italia:generale;documento.identita;documentazione"
descrizione_estesa="Documento di identità"
filename="Documento identita.pdf"
firmato="SI"
istruzioni="/modulistica/moduli/DAE-CDI"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="OCC-ASS-ATT"
urn_allegato="document:s_italia:associazionismo;atto.costitutivo.statuto.registrati;atto"
descrizione_estesa="Copia dell'atto costitutivo e statuto registrati"
filename="Copia atto e statuto.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/OCC-ASS-ATT"
name="GLOBO_allegato"
numero="0"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>



{% endblock meta %}

{% block title %}
   Domanda per l’illuminazione della Porta San Giacomo   
{% endblock title %}
 
{% block content %}


<globo_fondo_pagina areaheight="150" scope="2">
  {{ utils.firma() }}
</globo_fondo_pagina>

<input id="Parametri_Comune" name="Parametri_Comune" type="hidden" dynamic_value="#Ente.value()"/>
<input id="Oggetto" name="Oggetto" type="hidden" dynamic_value="#Titolare_Cognome.value().toUpperCase() + ' ' + #Titolare_Nome.value().toUpperCase() + ' - Domanda per l’illuminazione della Porta San Giacomo '"/>

{{ intestazioni.intestazione_moduloprincipale_senzabollo() }}

<h1 class="Modulo">
  Domanda per l’illuminazione della Porta San Giacomo in occasione di eventi di rilevanza sociale e culturale promossi da  organizzazioni di volontariato o dalle associazioni di promozione sociale.
</h1>


<div type="Anagrafica_Società">
    <input id="Titolare_Titolo" name="Titolare_Titolo" type="hidden" value="Richiedente"/>
    <table class="Modulo" style="border:1px solid grey; margin-bottom:-6px">
        <tbody>
            <tr class="Rigaintestazione">
                <td style="border-right:0px">
                <p class="Labeltabella" style="vertical-align:middle">Il sottoscritto</p>
                </td>
                <td style="width:3%; cursor:pointer; border-left:0px">
                <span style="pd4ml-visibility: hidden; pd4ml-display: none;">
                    {{ utils.recupero_dati( "Titolare", "visibility:visibility" ) }}
                </span>
                </td>
            </tr>
        </tbody>
    </table>
        <table class="Modulo" style="border:1px solid grey" mandatory="true">
        <tbody>
        <tr class="Rigaintestazioneridotta">
            <td colspan="2">
            <p class="Labelcella">Cognome</p>
            </td>
            <td>
            <p class="Labelcella">Nome</p>
            </td>
            <td>
            <p class="Labelcella">Codice Fiscale</p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
            <input class="" id="Titolare_Cognome" name="Titolare_Cognome" style="width:100%" label="Cognome del Richiedente" />
            </td>
            <td>
            <input class="" id="Titolare_Nome" name="Titolare_Nome" style="width:100%" label="Nome del Richiedente" />
            </td>
            <td>
            <input class="" id="Titolare_CodiceFiscale" name="Titolare_CodiceFiscale" style="width:100%;" format="cf" label="Il codice fiscale del Richiedente" onkeyup="this.value = this.value.toUpperCase();"/>
            </td>
        </tr>
        <tr class="Rigaintestazioneridotta" style="border-top:0px">
            <td style="width:24%;">
            <p class="Labelcella">Data di nascita</p>
            </td>
            <td style="width:9%;">
            <p class="Labelcella">Sesso (M/F)</p>
            </td>
            <td style="width: 34%;">
            <p class="Labelcella">Luogo di nascita</p>
            </td>
            <td style="width: 33%;">
            <p class="Labelcella">Cittadinanza</p>
            </td>
        </tr>
        <tr>
            <td>
            <input class="" id="Titolare_DataNascita" name="Titolare_DataNascita" style="width:100%;" format="date" label="Data di nascita del Richiedente" readonly/>
            </td>
            <td>
            <select class="inputNormal" id="Titolare_Sesso" name="Titolare_Sesso" style="width:100%; pointer-events:none;" label="Sesso del Richiedente">
                <option value=""></option>
                <option value="M">M </option>
                <option value="F"> F </option>
            </select>
            </td>
            <td>
            <input class="" id="Titolare_LuogoNascita" name="Titolare_LuogoNascita" style="width:100%;" label="Luogo di nascita del Richiedente" readonly/>
            </td>
            <td>
            {{ utils.nazionalita('Titolare_Cittadinanza', 'Cittadinanza' )}}
            </td>
        </tr>
        </tbody>
    </table>
        <table class="Modulo" style="border:1px solid grey; margin-top:-1px;" mandatory="true">
        <tbody>
            <tr class="Rigaintestazioneridotta">
            <td colspan="5">
                <p class="Labelcella">Residenza</p>
            </td>
            </tr>
            <tr class="Rigaintestazioneridotta">
            <td style="width:9%;">
                <p class="Labelcella"> Provincia </p>
            </td>
            <td style="width:33%;">
                <p class="Labelcella"> Comune </p>
            </td>
            <td style="width:33%;">
                <p class="Labelcella"> Indirizzo </p>
            </td>
            <td style="width:9%;">
                <p class="Labelcella"> Civico </p>
            </td>
            <td style="width:16%;">
                <p class="Labelcella"> CAP </p>
            </td>
            </tr>
            <tr>
            <td>
                {{ utils.provincie('Titolare_ProvinciaResidenza', label='Provincia di residenza' )}}
            </td>
            <td>
                <select class="inputNormal" id="Titolare_ComuneResidenza" name="Titolare_ComuneResidenza" style="width:100%" label="Comune di residenza del Richiedente" dynamic_value="getComuniFromProvincia( #Titolare_ProvinciaResidenza.value(), 'Titolare_ComuneResidenza')"> </select>
            </td>
            <td>
                <input class="" id="Titolare_ViaResidenza" name="Titolare_ViaResidenza" style="width:100%;" label="Via di residenza del Richiedente" maxlength="60" format="regular_expression" expression="^(.+)\s(.+)$"/>
            </td>
            <td>
                <input class="" id="Titolare_CivicoResidenza" name="Titolare_CivicoResidenza" style="width:100%;" label="Civico di residenza del Richiedente" maxlength="10"/>
            </td>
            <td>
                <input class="" id="Titolare_CAPResidenza" name="Titolare_CAPResidenza" style="width:100%;" format="cap" label="CAP di residenza del Richiedente" mandatory="#Titolare_ProvinciaResidenza.value() != 'EE'"/>
            </td>
            </tr>
        </tbody>
    </table>
    <table class="Modulo" style="border:1px solid grey; margin-top:-1px;">
        <tbody>
            <tr class="Rigaintestazioneridotta">
            <td style="width:24%;">
                <p class="Labelcella"> Telefono casa </p>
            </td>
            <td style="width:24%;">
                <p class="Labelcella"> Telefono cellulare </p>
            </td>
            <td>
                <p class="Labelcella"> Posta elettronica  </p>
            </td>
            </tr>
            <tr>
            <!-- telefono casa -->
            <td>
                <input class="inputNormal" id="Titolare_Telefono" label="Telefono" name="Titolare_Telefono" style="width:100%" mandatory="#Titolare_TelefonoCellulare.value() == ''"  format="regular_expression" expression="(^[0|3]{1}[0-9]{5,10}$)"/>
            </td>
            <!-- telefono cellulare -->
            <td>
                <input class="inputNormal" id="Titolare_TelefonoCellulare" label="Telefono cellulare" name="Titolare_TelefonoCellulare" style="width:100%" mandatory="#Titolare_Telefono.value() == ''"/>
            </td>
            <!-- email PEC -->
            <td>
                <input class="inputNormal" format="email" id="Titolare_EMail" label="E-mail del Richiedente" name="Titolare_EMail" style="width:100%;" mandatory="true"/>
            </td>
            </tr>
        </tbody>
    </table>
     <table class="Modulo" style="border:1px solid grey; margin-top:-1px;">
        <tbody>
            <tr class="Rigaintestazione">
                <td colspan="2">
                    <p>
                    <b> in qualità di </b>
                    <span style="font-size:70%"><i> (questa sezione deve essere compilata se il dichiarante non è una persona fisica) </i></span>
                    </p>
                </td>
            </tr>
            <tr class="Rigaintestazioneridotta">
                <td colspan="2">
                    <p class="Labelcella"> Ruolo <span style="display:none">(*)</span></p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    {% set ruoli = ["Persona fisica", "Titolare", "Legale rappresentante", "Direttore tecnico", "Gestore", "Dipendente"] %}
                    <select class="inputNormal" id="Titolare_Ruolo" name="Titolare_Ruolo" style="width:100%;" mandatory_enabled="true" label="Ruolo del Richiedente">
                        <option value=""></option>
                        {% for ruolo in ruoli %}
                            <option value="{{ ruolo }}"> {{ ruolo }} </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr class="Rigaintestazioneridotta">
                <td colspan="2">
                    <p class="Labelcella"> Denominazione/Ragione sociale </p>
                </td>
            </tr>
            <tr mandatory_enabled="#Titolare_Ruolo.check_value([ 'Titolare','Legale rappresentante',  'Direttore tecnico', 'Gestore', 'Dipendente'])">
                <td colspan="2">
                    <input class="" id="Titolare_Denominazione" name="Titolare_Denominazione" style="width:100%" label="Denominazione/Ragione sociale"/>
                </td>
            </tr>
            <tr class="Rigaintestazioneridotta">
                <td colspan="2">
                    <p class="Labelcella"> Tipologia (*) </p>
                </td>
            </tr>
            <tr mandatory_enabled="#Titolare_Ruolo.check_value([ 'Titolare','Legale rappresentante', 'Direttore tecnico', 'Gestore', 'Dipendente'])">
                <td class="noBorder" style="width:50%; border-right: 0;">
                    {% set tipologie = ["ente pubblico",
                    "associazioni o ente operante nel terzo settore",
                    "comitato o altra organizzazione rappresentativa di interessi diffusi legalmente riconosciuto/a",
                    "comitato o altra organizzazione rappresentativa di interessi diffusi non legalmente riconosciuto/a",
                    "altro (specificare)"] %}
                    <select name="Titolare_TipologiaImpresa" id="Titolare_TipologiaImpresa" label="Tipologia impresa" style="width:100%;">
                        <option value=""></option>
                        {% for tip in tipologie %}
                            <option value="{{tip}}">{{tip}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td style="width:50%; border-left: 0;">
                    <input class="inputNormal" id="Parametri_TipologiaImpresa_Specificare" name="Parametri_TipologiaImpresa_Specificare" style="width: 100%;" label="Specificare" mandatory_enabled="#Titolare_TipologiaImpresa.value() == 'altro (specificare)'"/>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="Modulo" style="border:1px solid grey; margin-top:-1px;">
        <tbody>
            <tr class="Rigaintestazioneridotta">
                <td colspan="5">
                    <p class="Labelcella">Sede legale</p>
                </td>
            </tr>
            <tr class="Rigaintestazioneridotta">
                <td style="width:9%;">
                    <p class="Labelcella"> Provincia </p>
                </td>
                <td style="width:33%;">
                    <p class="Labelcella"> Comune </p>
                </td>
                <td style="width:33%;">
                    <p class="Labelcella"> Indirizzo </p>
                </td>
                <td style="width:9%;">
                    <p class="Labelcella"> Civico </p>
                </td>
                <td style="width:16%;">
                    <p class="Labelcella"> CAP </p>
                </td>
            </tr>
            <tr mandatory_enabled="#Titolare_Ruolo.check_value([ 'Titolare','Legale rappresentante',  'Responsabile unico del procedimento',  'Direttore tecnico', 'Gestore', 'Dipendente' ])">
            <td>
                {{ utils.provincie('Titolare_ProvinciaSede', label="Provincia della sede legale") }}
            </td>
            <td>
                <select class="inputNormal" id="Titolare_ComuneSede" name="Titolare_ComuneSede" style="width:100%" label="Comune della sede legale" dynamic_value="getComuniFromProvincia( #Titolare_ProvinciaSede.value(), 'Titolare_ComuneSede')"> </select>
            </td>
            <td>
                <input class="" id="Titolare_ViaSede" name="Titolare_ViaSede" style="width:100%;" label="Indirizzo della sede legale" maxlength="60" format="regular_expression" expression="^(.+)\s(.+)$"/>
            </td>
            <td>
                <input class="" id="Titolare_CivicoSede" name="Titolare_CivicoSede" style="width:100%;" label="Civico della sede legale" maxlength="10"/>
            </td>
            <td>
                <input class="" id="Titolare_CAPSede" name="Titolare_CAPSede" style="width:100%;" format="cap" label="CAP della sede legale" enabled="#Titolare_Ruolo.check_value([ 'Titolare','Legale rappresentante', 'Direttore tecnico', 'Gestore', 'Dipendente' ])" mandatory="#Titolare_Ruolo.check_value([ 'Titolare','Legale rappresentante', 'Direttore tecnico', 'Gestore', 'Dipendente' ]) and #Titolare_ProvinciaSede.value() != 'EE'"/>
            </td>
            </tr>
        </tbody>
        </table>
        <table class="Modulo" style="border:1px solid grey; margin-top:-1px;" mandatory_enabled="#Titolare_Ruolo.check_value([ 'Titolare','Legale rappresentante', 'Direttore tecnico', 'Gestore', 'Dipendente' ])">
        <tbody>
            <tr class="Rigaintestazioneridotta">
                <td style="width:50%;">
                    <p class="Labelcella">Codice Fiscale</p>
                </td>
                <td style="width:50%;">
                    <p class="Labelcella">Partita IVA</p>
                </td>
            </tr>
            <tr>
                <td>
                <input class="" id="Titolare_CFPI" name="Titolare_CFPI" label="Codice fiscale" style="width:100%;" format="cfpiva"/>
                </td>
                <td>
                    <input class="" id="Titolare_PI" name="Titolare_PI" label="Partita IVA" style="width:100%;" format="piva" mandatory="#Titolare_TipologiaImpresa.value() != '' and #Titolare_TipologiaImpresa.value() != 'associazione'"/>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="Modulo" style="border:1px solid grey; margin-top:-1px;">
        <tbody>
            <tr class="Rigaintestazioneridotta">
                <td style="width:33%;">
                    <p class="Labelcella">Telefono soggetto giuridico </p>
                </td>
                <td>
                    <p class="Labelcella"> Posta elettronica soggetto giuridico </p>
                </td>
            </tr>
            <tr>
                <!-- Telefono soggetto giuridico -->
                <td mandatory_enabled="#Titolare_Ruolo.check_value([ 'Titolare','Legale rappresentante', 'Direttore tecnico', 'Gestore', 'Dipendente'])">
                    <input class="inputNormal" id="Titolare_TelefonoSede" label="Telefono soggetto giuridico" name="Titolare_TelefonoSede" style="width:100%"/>
                </td>
                <!-- email PEC -->
                <td enabled="#Titolare_Ruolo.check_value([ 'Titolare','Legale rappresentante', 'Direttore tecnico', 'Gestore', 'Dipendente'])" mandatory="(#Titolare_Ruolo.check_value([ 'Titolare','Legale rappresentante',  'Direttore tecnico', 'Gestore', 'Dipendente' ])) and (#Titolare_TipologiaImpresa.value() != 'associazione' and #Titolare_TipologiaImpresa.value() != 'ente religioso')">
                    <input class="inputNormal" format="email" id="Titolare_EMailSede" label="E-mail soggetto giuridico" name="Titolare_EMailSede" style="width:100%;"/>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
<p class="Modulo" style="font-size:80%;">
        <i>Opzioni (*)</i>:<br/>
        ente pubblico
        associazioni o ente operante nel terzo settore
        comitato o altra organizzazione rappresentativa di interessi diffusi legalmente riconosciuto/a
        comitato o altra organizzazione rappresentativa di interessi diffusi non legalmente riconosciuto/a
        altro (specificare)
    </p>
<br>
<h3 class="Modulo">
  CHIEDE
</h3>
<p class="Modulo">
    che venga promosso il seguente evento di rilevanza sociale e culturale, concedendo l’illuminazione della Porta San Giacomo, con il supporto tecnico reso disponibile a titolo gratuito dal Comune di Bergamo per: 
</p>
<table class="Modulo" style="border: 1px solid grey;">
    <tbody>
      <tr class="Rigaintestazione">
          <td>
              <p class="Labeltabella">
                   Denominazione dell’evento
              </p>
          </td>
          </tr>
          <tr>
          <td>
            <input class="inputNormal" id="Parametri_Denominazione_evento" name="Parametri_Denominazione_evento" style="width: 100%;" label="Denominazione evento" mandatory="true" />
          </td>
      </tr>
      <tr class="Rigaintestazione">
        <td>
          <p class="Labelcella">
            Descrizione evento ( massimo 2.500 caratteri)
          </p>
        </td>
      </tr>
      <tr>
          <td>
            <textarea id="Parametri_DescrizioneEvento" name="Parametri_DescrizioneEvento" label="Descrizione Evento" mandatory="true" rows="30" cols="40" style="width: 100%;">
            </textarea>
          </td>
      </tr>
    </tbody>
  </table>

<table class="Modulo" style="border: 1px solid grey;">
    <tbody>
      <tr class="Rigaintestazione">
        <td colspan="3">
          <p class="Labeltabella">
            
                        L'illuminazione è richiesta nei seguenti giorni e orari:
          </p>
        </td>
      </tr>
        <tr class="Rigaintestazioneridotta">
      <td style="width: 33">
        <p class="Labelcella"> Giorno  </p>
      </td>
      <td style="width: 33%">
        <p class="Labelcella"> Dalle ore  </p>
      </td>
      <td style="width: 33%">
        <p class="Labelcella"> alle ore  </p>        
      </td>
       </tr>
     {% for i in range(1, 6) %}
      <tr {% if i == 1 %} mandatory_enabled="true"  {% endif %} >
        <td>
          <input class="inputNormal" id="Parametri_Giorn{{i}}_Giorni" name="Parametri_Giorn{{i}}_Giorni" format="date"style="width: 100%;" label="Giorno {{i}}" 
          {% if i > 1 %} enabled="#Parametri_Giorn{{i-1}}_Giorni.value()!=''" {% endif %} />
        </td>
        <td>
          <input class="inputNormal" id="Parametri_Giorn{{i}}_DataDal" name="Parametri_Giorn{{i}}_DataDal" style="width: 100%;" format="time" label="DataDal {{i}}" 
          {% if i > 1 %} mandatory_enabled="#Parametri_Giorn{{i}}_Giorni.value()!=''" {% endif %} />
        </td>
        <td>
          <input class="inputNormal" id="Parametri_Giorn{{i}}_DataAl" name="Parametri_Giornl{{i}}_DataAl" style="width: 100%; " onkeyup="this.value = this.value.toUpperCase();" format="time" label="data al {{i}}" 
          {% if i > 1 %} mandatory_enabled="#Parametri_Giorn{{i}}_Giorni.value()!=''" {% endif %} />
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<div id="Parametri_Rilevanza" name="Parametri_Rilevanza" label="Rilevanza" mandatory="true"></div>
<table class="Modulo" name="Allegati" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p class="Labeltabella">
          Rilevanza
        </p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Parametri_Rilevanza" id="Parametri_Rilevamza1" name="Parametri_Rilevanza1"  type="checkbox" value="si"/>
      </td>
      <td>
        L'evento ha rilevanza su base nazionale
      </td>
    </tr>
     <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Parametri_Rilevanza" id="Parametri_Rilevamza2" name="Parametri_Rilevanza2" type="checkbox" value="si"/>
      </td>
      <td>
        L'evento ha rilevanza su base regionale
      </td>
    </tr>
     <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Parametri_Rilevanza" id="Parametri_Rilevamza3" name="Parametri_Rilevanza3"  type="checkbox" value="si"/>
      </td>
      <td>
        L'evento ha rilevanza su base cittadina
      </td>
    </tr>
  </tbody>
</table>
<div id="Parametri_SoggettiProponenti" name="Parametri_SoggettiProponenti" label="Soggetti Proponenti" mandatory="true"></div>
<table class="Modulo" name="Allegati" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p class="Labeltabella">
          Soggetti proponenti
        </p>
      </td>
    </tr>
     <tr>
      <td style="vertical-align: top; width: 4%;">
        <input  id="Parametri_SoggettiProponenti1" name="Parametri_SoggettiProponenti"  type="radio" value="1"/>
      </td>
      <td>
        L'evento non è proposto e/o sostenuto da più soggetti
      </td>
      </tr>
         <tr>
      <td style="vertical-align: top; width: 4%;" rowspan="2">
        <input  id="Parametri_SoggettiProponenti2" name="Parametri_SoggettiProponenti"  type="radio" value="2"/>
      </td>
      <td>
        L'evento è proposto e/o sostenuto da più soggetti
      </td>
      </tr>
      <tr>
        <td colspan="2">
            <input  id="Parametri_NumeroSoggettiProponenti" name="Parametri_NumeroSoggettiProponenti"  label="Numero soggetti proponenti" style="width: 100%;" mandatory_enabled="#Parametri_SoggettiProponenti2.checked()"/>
        </td>
      </tr>
      </tbody>
      </table>
      <table class="Modulo" name="Allegati" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p class="Labeltabella">
         Tesserati
        </p>
      </td>
    </tr>
      <tr>
      <td style="vertical-align: top; width: 4%;" rowspan="2">
         <input  id="Parametri_Tesserati" name="Parametri_Tesserati"  type="checkbox" value="si"/>
      </td>
      <td>
        Indicare l'eventuale numero di tesserati/aderenti residenti a Bergamo
      </td>
      </tr>
      <tr>
        <td>
          <input  id="Parametri_NumeroTesserati" name="Parametri_NumeroTesserati"  label="Numero tesserati bergamo" style="width: 100%;" mandatory_enabled="#Parametri_Tesserati.checked()"/>
        </td>
      </tr>
      </tbody>
      </table>
<br>
{{ utils.Dichiara_445() }}
<br>
<div id="Parametri_Lucro" name="Parametri_Lucro" label="Scopo lucro" mandatory="true"></div>
  <table class="Modulo" name="Allegati" style="border: 1px solid grey">
  <tbody>
   <tr>
      <td style="vertical-align: top; width: 4%;">
        <input  id="Parametri_Lucro1" name="Parametri_Lucro"  type="radio" value="1"/>
      </td>
      <td>
        	che il soggetto richiedente non ha scopo di lucro
      </td>
      </tr>
         <tr>
      <td style="vertical-align: top; width: 4%;">
        <input  id="Parametri_Lucro2" name="Parametri_Lucro2"  type="radio" value="2"/>
      </td>
      <td>
        che il soggetto richiedente ha scopo di lucro, ma l’evento è attuato senza fini di lucro
      </td>
      </tr>
      <tr>
      <td style="vertical-align: top; width: 4%;">
        <input  id="Parametri_Costituzione" name="Parametri_Costituzione" type="checkbox" value="si"/>
      </td>
      <td>
        che il soggetto richiedente è stato costituito con atto in data: <input id="Parametri_DataCostituzione" name="ParametriDataCostituzione" style="width: 13%;" label="Data Costituzione" format="date" />
      </td>
      </tr>
      </tbody>
      </table>


<br>
<table class="Modulo" name="Allegati" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p style="text-align: center;">
          <b>
            Elenco degli allegati
          </b>
          <br/>
          <span style="font-size:70%">
            <i>(barrare tutti gli allegati richiesti in fase di presentazione della pratica ed elencati sul portale)</i>
          </span>
        </p>
      </td>
    </tr>
     <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="PAT-REL-ILL" name="PAT-REL-ILL" type="checkbox" checked="checked" dynamic_check="true" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;">
        <p>
         relazione illustrativa della manifestazione o iniziativa
          
        </p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="OCC-ASS-ATT" name="OCC-ASS-ATT" type="checkbox" value="si"/>
      </td>
      <td style="background-color: #eeeeee;">
        <p>
         	copia dell'atto costitutivo e statuto registrati <span style="font-size:70%">(da allegare se il Comune non ne è in possesso)</span>
        </p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="DAE-CDI" name="DAE-CDI" type="checkbox" value="si"/>
      </td>
      <td style="background-color: #eeeeee;">
        
          copia del documento d'identità   <span style="font-size:70%">(da non allegare se l'istanza è presentata in modalità telematica o se la firma autografa è apposta di fronte a un pubblico ufficiale) </span>
       
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="ALTRI-ALLEGATI" name="ALTRI-ALLEGATI" type="checkbox" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;">
        <p>
          altri allegati
          <span style="font-size:70%">(specificare)</span>
          <input class="" label="Altri allegati" id="AltriAllegati" mandatory_enabled="#ALTRI_ALLEGATI.checked()" name="AltriAllegati" style="width:79%;"/>
        </p>
      </td>
    </tr>
  </tbody>
</table>

<br>
{{ utils.trattamento_dati_personali() }}
<br/>
  {{ utils.firma_hidden() }}
<br/>

<p class="Modulo">
  <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo"/>
</p>

<input destinatario_amministrazione="getParameter('Ente')" id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value=""/>
<input firmare="'P7M_ELETTRONICA'" id="GLOBO_modulofiglio_cINCARICO_PROCURA" name="GLOBO_modulofiglio_cINCARICO_PROCURA" type="hidden" value=""/>
<input id="GLOBO_allegato_cPAT-REL-ILL" name="GLOBO_allegato_cPAT-REL-ILL" obbligatorio="#PAT_REL_ILL.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_allegato_cOCC-ASS-ATT" name="GLOBO_allegato_cOCC-ASS-ATT" obbligatorio="#OCC_ASS_ATT.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_allegato_cDAE-CDI" name="GLOBO_allegato_cDAE-CDI" obbligatorio="#DAE_CDI.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_allegato_cALTRI-ALLEGATI" name="GLOBO_allegato_cALTRI-ALLEGATI" obbligatorio="#ALTRI_ALLEGATI.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden"/>
<input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden"/>
<input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}"/>

{% endblock content %}