{% set CodiceModulo = "PUBL_REG_ASSO" %}
{% set Urn = "document:c_a794:registrazione.comunale.associazioni;iscrizione;domanda" %}
{% extends "base.html" %}

{% block meta %}

<meta campi_firma="Titolare_CodiceFiscale"
campi_firma_label="il dichiarante"
classi_modulo="Tempo libero sport e cultura"
codice_modulo="{{ CodiceModulo }}"
urn="{% block urn %}{{ Urn }}{% endblock urn %}"
sub_urn_list=""
uo_globo_list=""
descrizione="Domanda di registrazione nel Repertorio comunale delle associazioni"
destinatario_amministrazione=""
destinatario_ufficio="UOTEMPOLIBEROSPORTECULTURA"
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="AUTENTICATO"
istruzioni_compilazione=""
istruzioni_invio="mail_pec"
metodo_invio="mail"
name="GLOBO_modulo"
procura="NO,,"
tipo_modulo="principale"
urlhelp="/modulistica/moduli/{{ CodiceModulo }}"
verifica_pagamento="NO"
versione="1.1|22/04/2020"/>

<meta codice_modulo_figlio="INCARICO_PROCURA"
urn_modulo_figlio="document:s_italia:generale;incarico.procura"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<meta codice_allegato="DAE-CDI"
urn_allegato="document:s_italia:generale;documento.identita;documentazione"
descrizione_estesa="Documento di identità"
filename="Documento identita.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/DAE-CDI"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="OCC-ASS-ATT"
urn_allegato="document:s_italia:associazionismo;atto.costitutivo.statuto.registrati;atto"
descrizione_estesa="Copia dell’atto costitutivo e statuto registrati"
filename="Copia atto costitutivo e statuto.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/OCC-ASS-ATT"
name="GLOBO_allegato"
numero="0"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="ELE-CARICHE-ASSO"
urn_allegato="document:c_a794:associazionismo;elenco.cariche"
descrizione_estesa="Elenco delle cariche sociali"
filename="Elenco cariche sociali.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/ELE-CARICHE-ASSO"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="ORG-REF-AMM"
urn_allegato="document:s_italia:associazionismo;albo.comunale.associazioni;organigramma.associazione;documentazione"
descrizione_estesa="Organigramma con indicazione del referente organizzativo o referente amministrativo"
filename="Organigramma.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/ORG-REF-AMM"
name="GLOBO_allegato"
numero="0"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="ALTRI-ALLEGATI"
urn_allegato="document:s_italia:altri.allegati"
descrizione_estesa="Altri allegati"
filename="Altri allegati.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/ALTRI-ALLEGATI"
name="GLOBO_allegato"
numero="0"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>


{% endblock meta %}

{% block title %}
    Domanda di registrazione nel Repertorio comunale delle associazioni
{% endblock title %}

{% block content %}

<style>
    .noBorder {
        border: 0 !important;
    }
</style>

<globo_fondo_pagina areaheight="150" scope="2">
    {{ utils.firma() }}
</globo_fondo_pagina>

<input id="Parametri_Comune" name="Parametri_Comune" type="hidden" dynamic_value="#Ente.value()"/>
<input id="Oggetto" name="Oggetto" type="hidden" dynamic_value="#Titolare_Cognome.value().toUpperCase() + ' ' + #Titolare_Nome.value().toUpperCase() + ' - domanda registrazione libere associazioni Repertorio comunale'"/>

{{ intestazioni.intestazione_moduloprincipale_senzabollo() }}

<h1 class="Modulo">
    Domanda di registrazione nel Repertorio comunale delle associazioni
</h1>

{{anagrafica.societa("Titolare", "Il sottoscritto", ["Legale rappresentante"], "Richiedente", "visibility:visibility", "cursor:pointer", "mail_ordinaria", "false", "false", "", "visibility:visibility", "display:none", "true")}}

<h3 class="Modulo">
    CHIEDE
</h3>

<p class="Modulo">
    l’iscrizione della predetta associazione al Repertorio comunale delle associazioni.
</p>

<globo_salto_pagina></globo_salto_pagina>

{{ utils.Dichiara_445() }}

<div id="Tassonomia_FinalitaAssociazione" name="Tassonomia_FinalitaAssociazione" label="Finalità" mandatory="true"></div>
<table class="Modulo" style="border: 1px solid grey;">
    <tbody>
        <tr class="Rigaintestazione">
            <td colspan="2">
                <p class="Labeltabella">
                    che l’associazione ha le seguenti finalità <br>
                    <span style="font-size: 70%; font-weight: normal;"><i>(indicare il caso ricorrente)</i></span>
                </p>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top; width: 4%;">
                <input id="Tassonomia_FinalitaAssociazione1" name="Tassonomia_FinalitaAssociazione" type="radio" value="1" />
            </td>
            <td>
                <p>
                    ha scopo di lucro
                </p>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top; width: 4%;">
                <input id="Tassonomia_FinalitaAssociazione2" name="Tassonomia_FinalitaAssociazione" type="radio" value="2" />
            </td>
            <td>
                <p>
                    non ha scopo di lucro
                </p>
            </td>
        </tr>
        <tr class="Rigaintestazioneridotta">
          <td colspan="2">
            <p class="Labelcella">
              Costituita in data
            </p>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input class="inputNormal" id="Parametri_DataFondazioneAssociazione" name="Parametri_DataFondazioneAssociazione" style="width: 100%;" label="Data costituzione dell'associazione" mandatory="true" />
          </td>
        </tr>
        <tr class="Rigaintestazioneridotta">
            <td colspan="2">
                <p class="Labelcella">
                    Numero di soci iscritti cittadini di Bergamo alla data odierna
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input class="inputNormal" id="Parametri_NumeroSociIscritti" name="Parametri_NumeroSociIscritti" style="width: 100%;" label="Numero soci" format="number" mandatory="true"/>
            </td>
        </tr>
        <tr class="Rigaintestazioneridotta">
            <td colspan="2">
                <p class="Labelcella">
                    Ambito territoriale di appartenenza
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input class="inputNormal" id="Parametri_AmbitoTerritorialeAssociazione" name="Parametri_AmbitoTerritorialeAssociazione" style="width: 100%;" label="Ambito territoriale" mandatory="true"/>
            </td>
        </tr>
    </tbody>
</table>

<h3 class="Modulo">
    SI IMPEGNA
</h3>

<p class="Modulo">
    a pena di cancellazione dal Repertorio comunale delle associazioni
</p>

{% set impegni = ["ad inviare al Segretario Generale del Comune di Bergamo un rendiconto annuale dell’attività svolta, con l’indicazione aggiornata del numero dei cittadini di Bergamo che risultano iscritti all’associazione.", "ad inviare copia delle modifiche statutarie intervenute ed a comunicare le modifiche avvenute nell’ambito delle cariche sociali."] %}
<div id="Tassonomia_SiImpegna" name="Tassonomia_SiImpegna" label="Impegno" mandatory="true"></div>
<table class="Modulo noBorder">
    <tbody>
        {% for impegno in impegni %}
        <tr class="noBorder">
            <td class="noBorder" style="vertical-align: top; width: 4%;">
                <input group="Tassonomia_SiImpegna" id="Tassonomia_SiImpegna{{loop.index}}" name="Tassonomia_SiImpegna{{loop.index}}" type="checkbox" value="SI" checked="checked" dynamic_check="true">
            </td>
            <td class="noBorder">
                <p>
                    {{impegno}}
                </p>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>

<table class="Modulo" style="border: 1px solid grey;">
  <tbody>
    <tr class="Rigaintestazioneridotta">
      <td>
        <p class="Labelcella">
          Eventuali annotazioni
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <textarea class="inputNormal" id="Parametri_Annotazioni" name="Parametri_Annotazioni" style="width: 100%; height: 5cm;" label="Eventuali annotazioni"></textarea>
      </td>
    </tr>
  </tbody>
</table>

<br>

<table class="Modulo" name="Allegati" style="border: 1px solid grey">
    <tbody>
        <tr class="Rigaintestazione">
            <td colspan="2">
                <p style="text-align: center;">
                    <b>
                        Elenco degli allegati
                    </b>
                    <br/>
                    <span style="font-size:70%">
                        <i>(barrare tutti gli allegati richiesti in fase di presentazione della pratica ed elencati sul portale)</i>
                    </span>
                </p>
            </td>
        </tr>
        <tr>
            <td style="width: 4%; vertical-align: top;">
                <input id="OCC-ASS-ATT" name="OCC-ASS-ATT" type="checkbox" value="OBBLIGATORIO" checked="checked" dynamic_check="true"/>
            </td>
            <td style="background-color: #eeeeee;">
                <p>
                    copia dell’atto costitutivo e statuto registrati
                </p>
            </td>
        </tr>
        <tr>
          <td style="width: 4%; vertical-align: top;">
            <input id="ELE-CARICHE-ASSO" name="ELE-CARICHE-ASSO" type="checkbox" value="OBBLIGATORIO" checked="checked" dynamic_check="true"/>
          </td>
          <td style="background-color: #eeeeee;">
            <p>
              elenco delle cariche sociali
            </p>
          </td>
        </tr>
        <tr>
            <td style="width: 4%; vertical-align: top;">
                <input id="ORG-REF-AMM" name="ORG-REF-AMM" type="checkbox" value="OBBLIGATORIO" checked="checked" dynamic_check="true"/>
            </td>
            <td style="background-color: #eeeeee;">
                <p>
                    organigramma con indicazione del referente organizzativo o referente amministrativo
                </p>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top; width: 4%;">
                <input id="DAE-CDI" name="DAE-CDI" type="checkbox" value="OBBLIGATORIO" />
            </td>
            <td style="background-color: #eeeeee;">
                <p>
                    copia del documento d'identità
                    <br/>
                    <span style="font-size:70%">
                        <i>(da allegare se il modulo è sottoscritto con firma autografa)</i>
                    </span>
                </p>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top; width: 4%;">
                <input id="ALTRI-ALLEGATI" name="ALTRI-ALLEGATI" type="checkbox" value="OBBLIGATORIO"/>
            </td>
            <td style="background-color: #eeeeee;">
                <p>
                    altri allegati
                    <span style="font-size:70%">(specificare)</span>
                    <input class="" label="Altri allegati" id="AltriAllegati" mandatory_enabled="#ALTRI_ALLEGATI.checked()" name="AltriAllegati" style="width:79%;"/>
                </p>
            </td>
        </tr>
    </tbody>
</table>


<br/>
{{ utils.trattamento_dati_personali() }}
<br/>
    {{ utils.firma_hidden() }}
<br/>

<p class="Modulo">
    <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo"/>
</p>

<input destinatario_amministrazione="getParameter('Ente')" id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value=""/>
<input firmare="'P7M_ELETTRONICA'" id="GLOBO_modulofiglio_cINCARICO_PROCURA" name="GLOBO_modulofiglio_cINCARICO_PROCURA" type="hidden" value=""/>

<input id="GLOBO_allegato_cDAE-CDI" name="GLOBO_allegato_cDAE-CDI" obbligatorio="#DAE_CDI.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_allegato_cOCC-ASS-ATT" name="GLOBO_allegato_cOCC-ASS-ATT" type="hidden" value="" obbligatorio="#OCC_ASS_ATT.checked() ? 'OBBLIGATORIO' : ''"/>
<input id="GLOBO_allegato_cELE-CARICHE-ASSO" name="GLOBO_allegato_cELE-CARICHE-ASSO" type="hidden" value="" obbligatorio="#ELE_CARICHE_ASSO.checked() ? 'OBBLIGATORIO' : ''"/>
<input id="GLOBO_allegato_cORG-REF-AMM" name="GLOBO_allegato_cORG-REF-AMM" type="hidden" value="" obbligatorio="#ORG_REF_AMM.checked() ? 'OBBLIGATORIO' : ''"/>
<input id="GLOBO_allegato_cALTRI-ALLEGATI" name="GLOBO_allegato_cALTRI-ALLEGATI" obbligatorio="#ALTRI_ALLEGATI.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden"/>
<input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden"/>
<input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}"/>

{% endblock content %}
